/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Montserrat:wght@300&&display=swap');
$Oswald: 'Oswald', sans-serif;
$Montserrat: 'Montserrat', sans-serif;


/*Colors*/

// nav Colors
$bgColor: #000014;
$white: #fffdfd;
$red: #EA0F1E;