.about {
    width: 100%;
    min-height:  900px;
    position: absolute;
    top: 0;
    background-color: $bgColor;
    padding-top: 40px;
    .about__head {
        color: $white;
        font-family: $Oswald;
        font-size: 3.5rem !important;
    }
    .go__home {
        color: $white;
        opacity: .8;
        margin-bottom: 30px;
        cursor: pointer ;
        font-family: $Montserrat;
    }
    .go__home span {
        color: $red;
        font-weight: 600;
    }
    .about__me {
        p {
            @extend %header-section;
        }
        img {
            margin: 50px 0;
            border-radius: 3px;
        }
        .my__info {
            font-size: calc(1rem - 1px) ;
        }
    
    }
    .skills {
        .skills__header {
            @extend %header-section;
        }
        .skills__items {
            ul {
                list-style: none;
                li {
                    color: $white;
                    font-family: $Montserrat;        
                }
        $images:  ("html" : url("../assets/logos/html.png"), "css":url("../assets/logos/css.png"),
                    "js":url("../assets/logos/js.png"), "vue": url("../assets/logos/vue.png"),
                    "bootstrap": url("../assets/logos/bootstrap.png"), "scss": url("../assets/logos/scss.png"),
                    "jquery": url("../assets/logos/jquery.png"), "json": url("../assets/logos/json.png"),
                    "gulp": url("../assets/logos/gulp.png"), "git": url("../assets/logos/git.png"),
                    "ajax": url("../assets/logos/ajax.png"), "github": url("../assets/logos/github.png"));

                    @each $item,$img in $images {
                        .icon-#{$item}::before {
                            content: "";
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            vertical-align: middle;
                            margin-right: 5px;
                            background: no-repeat center/cover $img;
                        }
                    }
            }
        }
    }
}
